@font-face {
    font-family:"Antonia H1 SemiBold";
    src: url("./Fonts/AntoniaH1-SemiBold.ttf");
}

@font-face {
    font-family:"Montserrat-Regular";
    src: url("./Fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family:"Lato-Black";
    src: url("./Fonts/Lato-Black.ttf");
}


@font-face {
    font-family:"Lato-Regular";
    src: url("./Fonts/Lato-Regular.ttf");
}

.form-part {
    border-radius: 2%;
}

.form-part h1 {
    font-family: "Antonia H1 SemiBold";
    color:#1D315A;
    font-size: 36px;
}

.form-part p, .form-part label, .form-part input::placeholder {
   font-family: "Montserrat-Regular";
   font-size: 17px;
}

.btn-default {
    background-color: #1B1E45 !important;
    font-family: "Lato-Black";
}

.right h1{
    font-size: 90px;
    font-family: "Antonia H1 SemiBold";
    color:#1D315A;
}

.right p {
    font-family: "Lato-Regular";
    font-size:30px;
    color:#1D315A;

}

.right img {
    border-radius: 70%;
    
}

.second h1 {
    font-family: "Antonia H1 SemiBold";
    color:#1D315A;
}

.second p {
    font-family: "Lato-Regular";
    color:#1D315A;
    font-size: 22px;
}

.second h6 {
    font-family: "Antonia H1 SemiBold";
    color:#1D315A;
    font-size:40px;
}

.second .btn {
    font-size: 35px;

}

.picture-part h3 {
    font-family: "Antonia H1 SemiBold";
    color:#1D315A;
    font-size:44px;
}

.picture-part p {
    font-family: "Lato-Regular";
    color:#1D315A;
    font-size:20px
}

footer {
    background-color: #1D315A;
    color:white;
}

footer h2 {
    font-family: "Lato-Black"; 
}

footer .btn {
    font-size: 40px;
    color:#1D315A;
    font-family: "Lato-Black"; 
}

